{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="container">
    총 {{ category_list.count }} 종류의 카테고리가 있습니다.
    {% for category in category_list %}
        <h1>
            <a href="{% url 'blog:category_detail' category.pk %}" class="btn btn-primary">{{ category.category }}</a>
        </h1>
        <a href="{% url 'blog:category_edit' category.pk %}" >카테고리수정</a>
        <a href="{% url 'blog:category_delete' category.pk %}" >카테고리삭제</a>
        {% for shop in category.shop_set.all %}
            <li>
                <ol>
                    <a href="{% url 'blog:shop_detail' shop.pk %}">{{ shop.name }}</a> / 조회수: {{ shop.view }}
                </ol>
            </li>
        {% endfor%}
        <hr>
    {% endfor %}
    </div>
</div>
{% endblock %}