{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="container">
    <a href="{% url 'blog:category_new' %}" class="btn btn-success">카테고리생성</a>
    {% for category in category_list %}
        <li>
            <h1><a href="{% url 'blog:category_detail' category.pk %}">{{ category.category }}</h1>
            <a href="{% url 'blog:category_edit' category.pk %}">카테고리수정</a>
            {% for shop in category.shop_set.all %}
                <ol>
                    <a href="{% url 'blog:detail' shop.pk %}"><h3>{{ shop.name }}</h3></a> {{ shop.view }}
                </ol>
            {% endfor%}
        </li>
    {% endfor %}
    </div>
</div>
{% endblock %}