{% extends "blog/base.html" %}

{% block content %}
<div class="row">
        <a href="{% url 'blog:index' %}">목록으로</a><br>
        <a href="{% url 'blog:shop_edit' shop_detail.category.pk shop_detail.pk %}">가게수정</a>
        <a href="{% url 'blog:shop_delete' shop_detail.category.pk shop_detail.pk %}">가게삭제</a>

        <h1>{{ shop_detail.name }}</h1>
        조회수: {{ shop_detail.view }}<br>
        연락처: {{ shop_detail.number }}<br>
        주소: {{ shop_detail.address }}<br>
        생성일: {{ shop_detail.created_at }}<br>
        수정일: {{ shop_detail.updated_at }}<hr/>
        <h2>가게사진</h2>
        <img src="{{ shop_detail.photo1.url }}"/><hr/>

        {% if shop_detail.photo2 %}
            <img src="{{ shop_detail.photo2.url }}"/><br><hr/>
        {% else %}
            2번째 이미지는 없네요<br><hr>
        {% endif %}

        {% if shop_detail.photo3 %}
            <img src="{{ shop_detail.photo3.url }}"/><br><hr/>
        {% else %}
            3번째 이미지는 없네요<br><hr>
        {% endif %}

        <h2>덧글</h2>
        <a href="{% url 'blog:review_new' shop_detail.pk %}">덧글달기</a>
        {% if shop_detail.review_set.all %}
            {% for review in shop_detail.review_set.all %}
                <li>
                    {{ review.commenter }}: {{ review.comment }}
                      <a href="{% url 'blog:review_edit' shop_detail.pk review.pk %}">수정</a>
                      <a href="{% url 'blog:review_delete' shop_detail.pk review.pk %}">삭제</a>

                </li>
                {% if review.photo1 %}
                    <img src="{{ review.photo1.url }}"/><hr/>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3> 등록된 덧글이 없습니다 </h3>
        {% endif %}
</div>

{% endblock %}